/*基础*/

#pintuer-layer-mask,
#pintuer-layer-layer {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	display: block;
}


/*遮罩层*/

#pintuer-layer-mask {
	z-index: 888;
}


/*内容层*/

#pintuer-layer-layer {
	z-index: 999;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}


/*页面层*/

.layer-page {
	background: #fff;
}


/*基础层*/

.layer-base {}


/*消息提示*/

.layer-msg {
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	display: none;
}

.layer-msg .msg {
	/*默认消息提醒样式*/
	width: auto;
	height: auto;
	border-radius: 0.2rem;
	border: none;
	background: #000;
	color: #fff;
	opacity: 0.8;
	font-size: 0.32rem;
	padding: 0.2rem;
	max-width: 80%;
	min-width: 50%;
	min-height: 1rem;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}

.layer-msg .small {
	/*精美小样式*/
	min-height: 0.8rem;
	line-height: 0.8rem;
	max-width: 70%;
	font-size: 0.32rem;
	min-width: 1.4rem;
	width: auto;
	padding: 0 0.3rem;
	height: auto;
	max-height: 0.8rem;
}


/*默认加载loading样式*/

.layer-loading {
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	background: #fff;
}

.layer-loading .loading {
	width: 1rem;
	height: 1rem;
	position: relative;
	margin: 0 auto;
	margin-top: -1rem;
}

.layer-loading .msg {
	color: #999999;
	font-size: 0.28rem;
	text-align: center;
	width: 100%;
	position: absolute;
	margin: 0 auto;
	margin-top: 0.75rem;
}

.layer-loading .loading span {
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	border-radius: 50%;
	background: lightgreen;
	position: absolute;
	-webkit-animation: loading 1.04s ease infinite;
}

@-webkit-keyframes loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.2;
	}
}

.layer-loading .loading span:nth-child(1) {
	left: 0;
	top: 50%;
	margin-top: -0.08rem;
	-webkit-animation-delay: 0.13s;
}

.layer-loading .loading span:nth-child(2) {
	left: 0.14rem;
	top: 0.14rem;
	-webkit-animation-delay: 0.26s;
}

.layer-loading .loading span:nth-child(3) {
	left: 50%;
	top: 0;
	margin-left: -0.08rem;
	-webkit-animation-delay: 0.39s;
}

.layer-loading .loading span:nth-child(4) {
	top: 0.14rem;
	right: 0.14rem;
	-webkit-animation-delay: 0.52s;
}

.layer-loading .loading span:nth-child(5) {
	right: 0;
	top: 50%;
	margin-top: -0.08rem;
	-webkit-animation-delay: 0.65s;
}

.layer-loading .loading span:nth-child(6) {
	right: 0.14rem;
	bottom: 0.14rem;
	-webkit-animation-delay: 0.78s;
}

.layer-loading .loading span:nth-child(7) {
	bottom: 0;
	left: 50%;
	margin-left: -0.08rem;
	-webkit-animation-delay: 0.91s;
}

.layer-loading .loading span:nth-child(8) {
	bottom: 0.14rem;
	left: 0.14rem;
	-webkit-animation-delay: 1.04s;
}


/*无数据相关提示*/

.layer-empty {
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
}


/*无数据提醒样式*/

.layer-empty .notdata {
	padding: 0.5rem;
}

.layer-empty .notdata .pic {
	/*没有数据默认提示样式*/
	width: 2.28rem;
	height: 1.92rem;
	background: url('../img/icon-nodata.png') no-repeat;
	background-size: cover;
}

.layer-empty .notdata .msg {
	width: 100%;
	color: #999999;
	font-size: 0.32rem;
	text-align: center;
	margin-top: 0.38rem;
}


/*操作*/

.js-show {
	display: -webkit-flex;
}

.js-hide {
	display: none;
}


/*动画*/

.js-down {
	/*向下滑出默认样式*/
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
	transform: translateY(-100%);
}

.js-down-inview {
	/*激活向下滑出*/
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

.js-up {
	/*向上滑出默认样式*/
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
	transform: translateY(100%);
}

.js-up-inview {
	/*激活向上滑出*/
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

.js-left {
	/*向左滑出默认样式*/
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
	transform: translateX(-100%);
}

.js-left-inview {
	/*激活向左滑出*/
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}

.js-right {
	/*向右滑出默认样式*/
	opacity: 1;
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
	transform: translateX(100%);
}

.js-right-inview {
	/*激活向右滑出*/
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition-property: all;
	transition-duration: 333ms;
	transition-timing-function: ease;
}